/*<editor-fold desc="Standard thing">*/
body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

#main-canvas {
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

/*#audio {*/
/*    min-width: 100vw;*/
/*}*/

.svg-arrow {
    height: 10px;
    width: 10px;
    margin-left: 5px;
    transition: 0.5s;
}

p {
    justify-content: flex-end;
}
/*</editor-fold>*/

/*<editor-fold desc="Setting section">*/
section.render-settings {
    margin: 2px 0;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 2%;
}

section.render-settings p {
    margin: 0 0.5%;
    padding: 0.5% 2%;
    width: 95%;
    border-radius: 5px;
    background-color: orange;
    transition: 0.5s;
}

section.checked-settings p{
    width: 15%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

section.checked-settings p > svg{
    transform: rotateZ(90deg);
}
/*</editor-fold>*/

/*<editor-fold desc="Dropdown menu">*/
section.render-settings .dropdown-container{
    background-color: rgba(255, 165, 0, 0.9);
    display: none;
    align-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

section.checked-settings .dropdown-container{
    display: flex;
}

.dropdown-container{
    margin: 0 0.5%;
    padding: 0 1%;
    align-items: center;
    flex-wrap: wrap;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    animation: dropdown 1s;
    transform-origin: top center;
}

.dropdown-container .flexbox-item-container{
    margin: 0;
    padding: 1% 0;

    display: flex;

    flex-grow: 1;
    flex-basis: 16%;
    /*align-content: center;*/

    height: max-content;

}

.dropdown-container .flexbox-item-container .flexbox-item{
    padding: 2%;
    margin: 0;
    background-color: #ea8f00;

    display: flex;

    flex-flow: column wrap;
    /*justify-content: center;*/

    height: max-content;

    border-radius: 5px;

}

@keyframes dropdown {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

.setting-input-wrapper {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;

    gap: 2%;
}

.setting-input-wrapper label {
    flex-grow: 3;
}

.setting-input-wrapper input {
    flex-grow: 1;
}
/*</editor-fold>*/